#container{
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	justify-content: space-around;
	background-color: white;
	text-align: center;
	height: 500px;
}

#container div{
	background-color: lightblue;
	border: 2px black solid;
	

}

#one{
	height: 150px;
	align-self: center;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	
}

#two{
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;

}

#three{
	height: 150px;
	align-self: center;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}